{% extends 'base.html' %}
{% load static %}
{% block index %}
<div>
<div>
    <h2 style = "text-align:center;" class = "py-5">My advertisements</h2>
</div>
{% if advt_list %}
{% for a in advt_list %}
<div class="row m-4 card_c " style="padding:10px; background-color:#B3DEE5">
        <div class="col-md-2">
            <a href="{{ a.get_absolute_url }}"><img src="{{ a.advertisement_image.url }}"  class="card-img-top" style="width: 16rem; height: 14rem;border:solid 8px #FAE6B1;"></a>
        </div>
        <div class="col-md-7 pl-5">
            <a href="{{ a.get_absolute_url }}" style="color:black;font-family:'Plus Jakarta Sans',sans-serif;"><h4>{{ a.advertisement_name }}</h4></a>
            <p class="card-text" style = "font-family: 'Mulish', sans-serif; serif;font-weight:bold;font-size:17px;">{{ a.advertisement_location }}, KAZAKHSTAN</p>
            <p>{{ a.advertisement_date }}</p>
        </div>
        <div class="col-md-3">
            <p class="card-text" style="font-size:20px;font-weight:bold;">{{ a.advertisement_price }} KZT</p>
             <form action="{% url 'edit' a.pk %}" >
                <button class = "btn btn-primary mt-2" >EDIT</button>
                <button class = "btn btn-primary ml-2 mt-2" name="remove" value="remove"> REMOVE AD</button>
            </form>
        </div>
</div>
{% endfor %}
    {% else %}
    <h3 style ="color:blue;margin-bottom:45px;" >
        You don't have any advertisements.
    </h3>
{% endif %}
</div>
{% endblock %}