 {% extends 'base.html' %}
 {% load static %}
 {% block index %}

 {% if favorite_posts %}
  <div>
    <h2 style = "text-align:center;" class = "py-5">Your favorite advertisements </h2>
 </div>
 {% for a in favorite_posts %}
<div class="row m-4 card_c {{ a.pk }}" id="row m-4 card_c {{ a.pk }}" style="padding:10px; background-color:#B3DEE5">
        <div class="col-md-2">
            <a href="{{ a.get_absolute_url }}"><img src="{{ a.advertisement_image.url }}"  class="card-img-top" style="width: 16rem; height: 14rem;border:solid 8px #FAE6B1;"></a>
        </div>
        <div class="col-md-7 pl-5">
            <a href="{{ a.get_absolute_url }}" style="color:black;font-family:'Plus Jakarta Sans',sans-serif;"><h4>{{ a.advertisement_name }}</h4></a>
            <p class="card-text" style = "font-family: 'Mulish', sans-serif; serif;font-weight:bold;font-size:17px;">{{ a.advertisement_location }}, KAZAKHSTAN</p>
            <p>{{ a.advertisement_date }}</p>
        </div>
        <div class="col-md-3">
            <p class="card-text" style="font-size:20px;font-weight:bold;">{{ a.advertisement_price }} KZT</p>
            <form  method="POST" >
             {% csrf_token %}
                 <button class="bt" onclick=remove_elm(this) value="{{ a.pk }}" type="button" style="border:0; background:transparent;">
                            {% if a in request.user.profile.fav_adver.all %}
                                <img id="a{{ a.pk }}" src="{% static 'img/icons8-favorite-48.png' %}" alt="">
                            {% else %}
                                <img id="a{{ a.pk }}" src="{% static 'img/icons8-favorite-50.png' %}" alt="">
                            {% endif %}
                 </button>
            </form>
        </div>
</div>

{% endfor %}
 {% else %}
    <h3 style ="color:blue;margin-bottom:45px;" >
        You don't have favorites yet!:(
    </h3>
 {% endif %}
 {% endblock %}