{% extends 'base.html' %}
{% load static %}
{% block index %}

<div class="div_background">
    <div class="div_main">
        {% include 'search.html' %}
        <!-- carusel -->
        {% include 'grid_panel/grid.html' %}
        <div class="textValue" style="border-radius: 16px">
            <h1 style="padding: 10px">Sdugram</h1>
            <p style="padding: 50px">The largest online classifieds service in Kazakhstan
                All online ads of Kazakhstan on SDUgram - here you will find what you were looking for! By clicking on the "Post Ad" button, you can submit an ad on any topic quickly and easily.
                With the help of the SDUgram service, you can buy or sell almost anything from hand to hand.</p>
        </div>

    </div>
</div>

{% endblock %}
