<section>
  		<div class="container">
  			<h1 class="text-3">Объявлений</h1>
  			<div class="row justify-content-center">
  				<div class="card product_card" style="width: 18rem; background-color: #ffd700;">
				  <div class="card-body">
				    <h5 class="card-title">Помощь по урокам</h5>
				    <p class="card-text">Завтра по линейка нужна помощь <br> @username</p>
				    <h3>{{ pc_1 }} тг</h3>
				  </div>
				</div>
				<div class="card product_card" style="width: 18rem; background-color: #c0c0c0;">
				  <div class="card-body">
				    <h5 class="card-title">Помощь по урокам</h5>
				    <p class="card-text">Кім линейкадан өте қатты біледі лсға <br> @username</p>
				    <h3>{{ pc_2 }}тг</h3>
				  </div>
				</div>
				<div class="card product_card" style="width: 18rem; background-color: #ffd700;">
				  <div class="card-body">
				    <h5 class="card-title">Помощь по урокам</h5>
				    <p class="card-text">Продам курсы Java,пак курсов все вместе <br> @username</p>
				    <h3>{{ pc_3 }} тг</h3>
				  </div>
				</div>
  			</div>
  		</div>
  	</section>
  	<!-- Таблица -->
  	<section>
  		<div class="container">
  			<h1 class="text-3">Цены на услуги</h1>
  			<table class="table table_one">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Услуга</th>
			      <th scope="col">Цена</th>
			    </tr>
			  </thead>
			  <tbody>
			  {% for obj in price_table %}
			    <tr>
			      <td> {{ obj.pt_title }}</td>
			      <td> {{ obj.pt_new_price }}</td>
			    </tr>
				{% endfor %}
			  </tbody>
			</table>
  		</div>
  	</section>