{% extends 'base.html' %}
{% load static %}
{% block signUp %}
    <section id = "SignUpSection" >
        <p id = "Welcome"> Welcome! </p>
        <div id = "mainContainer">
            <div id = "RegistrationBox">
              <p id = "Registration"> Sign up</p>

              <form action="{%url 'submission' %}" method="post">
                  {% csrf_token %}
                  <label for="names"> First Name:</label><input type="text" name = "firstName" class = "names length" maxlength="12" placeholder="first name in Latin alphabet" pattern = "[A-Za-z]{2,}"> <br>
                  <label for="names"> Last Name:</label><input type="text" name = "lastName" class = "names length" maxlength="12" placeholder="last name in Latin alphabet" pattern = "[A-Za-z]{2,}"><br>
                  <label for="age"> Age:</label><input type="number" name = "age" min="7" max = "30">
                  <label for="">Gender: </label><input type="radio" name = "gender" value = "Male" required><label for="" class="genders">Male </label><input type="radio"  name = "gender" value = "Female"><label for="" class="genders">Female</label><br>
                  <label for="">E-mail: </label> <input type="email" name = "email" id = "email" pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required autocomplete="on" class = "length"> <br>
                  <label for="">Phone number: </label> <input type="tel" name = "phone" pattern = "+7[0-9]{3} [0-9]{3} [0-9]{2} [0-9]{2}"placeholder="+7(XXX)-XXX-XX-XX" class = "length"><br>
                  <label for="">City: </label> <input type="text" name = "city" class = "length"><br>
                  <label for="">Photo: </label> <input type="image"  name = "photo">
                  <input type="submit" value = "Confirm" id = "submitButton">
              </form>
            </div>
        </div>
    </section>
{% endblock %}