{% extends 'base.html' %}
{% load static %}
{% block index %}
   <section>
    <div id = "mainDiv">
        <div id = "containerDiv">

            <div id = "signInBlock">
                <p id = "Welcome">Welcome Back!</p>
                <p id = "text1" >If you are already have an account,login with your personal info</p>
              <a id = "button"  onmouseover="change()" onmouseout = "back()">Login</a>
            </div>

            <div id = "signUpBlock">
               <p id = "title">Create Account</p>
               <p id = "text2">use your email for registration:</p>
               <div id = "inputContainer">
                   <form action="{% url 'submission' %}" method="post">
                       {% csrf_token %}
                        <label for="">Email: </label><input type="email" name = "email" required><br>
                        <label for="">Password: </label><input type="password" name = "password1" maxlength ="20" required ><br>
                        <label for="">Validate password: </label><input type="password" name = "password2" required><br>
                        <input type="submit" value="SIGN UP" id = "submitButton">
                   </form>
               </div>
            </div>

        </div>
    </div>
   <script>
       function change(){
        document.getElementById("button").style.backgroundColor = "hsla(216, 49%, 40%, 0.671)";
       }
       function back(){
        document.getElementById("button").style.backgroundColor = "";
       }
   </script>

  </section>
       {% if invalidPassword %}
       <script>alert("Incompatible passwords. Please, try again!")</script>
       {% elif invalidEmail %}
       <script>alert("Email is already used. Please login to enter or use another email!")</script>
       {% elif messageIsSent %}
       <script>alert("Congratulations!!! You are successfully signed up!")</script>
       {% endif %}
{% endblock %}