 {% extends 'base.html' %}
 {% load static %}
 {% block index %}
      <div class="container_team">
        <div class="section-title">
            <h1>Our Team</h1>
        </div>

        <div class="team_row">


            <div class="team_column">
                <div class="team">
                    <div class="team-img">
                        <img class="img_team" src="{% static '/img/team_member1.jpg' %}"  alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2_team">Alibi Zhumagaliyev</h2>
                        <h3 class="h3_team">Co-сordinator </h3>
                        <p class="p_team">A mature and confident person, a good leader. Defines common goals, manages the process</p>
                        <h4 class="h4_team">200103311@stu.sdu.edu.kz</h4>
                    </div>
                    <div class="team-social">
                        <a href="https://instagram.com/jumagalibi?igshid=YmMyMTA2M2Y=" class="social-in"> <i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="team_column">
                <div class="team">
                    <div class="team-img">
                        <img class="img_team" src="{% static '/img/team_member2.jpg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2_team">Zhandos Baimurat</h2>
                        <h3 class="h3_team">Monitorevaluator</h3>
                        <p class="p_team">A prudent, strategic-minded and insightful. Considers all options, makes, as a rule, infallible conclusions.</p>
                        <h4 class="h4_team">200103398@stu.sdu.edu.kz</h4>
                    </div>
                    <div class="team-social">
                        <a href="https://instagram.com/cat_manhero?igshid=YmMyMTA2M2Y=" class="social-in"> <i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="team_column">
                <div class="team">
                    <div class="team-img">
                        <img  class="img_team" src="{% static '/img/team_member3.jpg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2_team">Moldir <br> Kazbek</h2>

                        <h3 class="h3_team">Implementer</h3>
                        <p class="p_team">Disciplined, reliable, prudent. Translates ideas into practical actions.She looks the other way on the big picture</p>
                        <h4 class="h4_team">200103394@stu.sdu.edu.kz</h4>
                    </div>
                    <div class="team-social">
                        <a href="https://instagram.com/moldirkazbekk?igshid=YmMyMTA2M2Y=" class="social-in"> <i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>


            <div class="team_column">
                <div class="team">
                    <div class="team-img">
                        <img class="img_team" src="{% static '/img/team_member4.jpg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2_team">Dina <br> Berikkyzy</h2>
                        <h3 class="h3_team">Teamworker</h3>
                        <p class="p_team">Responsive, calm and receptive. Knows how to listen to others, creates and calms people down</p>
                        <h4 class="h4_team">200103045@stu.sdu.edu.kz</h4>
                    </div>
                    <div class="team-social">
                        <a href="https://instagram.com/dinaberikkyzy__?igshid=YmMyMTA2M2Y=" class="social-in"> <i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
