{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block index %}
   <section>
    <div id = "containerDiv">
        <div id = "signUpBlock">
           <form method="POST">
               {% csrf_token %}
               <fieldset class = "form-group">
                   <legend class = "border-bottom mb-4">Join Today to SDUgram</legend>
                   {{ form | crispy }}
               </fieldset>
               <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit">Sign In</button>
               </div>
           </form>
            <div class = "border-top pt-3">
                <small class = "text-muted">
                    Doesn't have an Account? <a class = "ml-2" href="{% url 'register' %}">Sign Up</a>
                </small>
            </div>
            <div class = "border-top pt-3">
                <small class = "text-muted">
                    <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
                </small>
            </div>
        </div>
    </div>
   </section>
{% endblock %}