{% extends 'base.html' %}
{% load static %}
{% block index %}
<div style="background-color:#C8F8F6; padding: 10%; color: black;">
    <div style="margin: 7% 10% 1% 10%;">
    <h1>User Reviews</h1>
    <h2>SDUgram</h2>
    <h4>Reviews({{count}})</h4>
    <a href="{% url 'add_feedback' %}"><button type="button" class="btn_apply">Leave feedback</button></a>
    </div>
    <div style="margin: 7% 10% 1% 10%; color: black">
        {% if list %}
            {% for i in list%}
                <div class="card">
                    <div class="card-header">{{i.user}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text">{{i.caption}}</p>
                        <a href="#" class="btn btn-primary">Like</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1 style="text-align:center">Empty</h1>
        {% endif %}
    </div>
</div>


{% endblock %}