{% extends 'base.html' %}
{% load static %}
{% block index %}
<section class="m-4">
    <div class="div_main">
<!--    <img src="{{ advt_list.advt_img.url }}" alt="" class="img-thumbnail">-->
    <div class="row">
        <div class="col-md-8">
            <img src="{{ advt.advertisement_image.url }}" alt="" class="img-thumbnail" style="width: 60rem; height: 40rem">
        </div>
        <div class="col-md-4">
            <h3>Пользователь</h3>
            <div class="d-flex p-2">
                <img src="{% static './img/default_avatar.png' %}" width="100" height="100" alt="...">
                <div class="ml-3">
                    <h4>{{ advt.advertisement_user}}</h4>
                    <p>Онлайн в {{ was_online }}</p>
                </div>
            </div>
            <a href="{% url 'aboutAuthor' 7 %}"><button class="btn btn-primary btn-lg btn-block">Все объявления автора</button></a>
            <div class="d-flex p-2">
                <button class="btn btn-outline-success">Показать телефон</button>
                <button class="btn btn-outline-warning ml-4">Сообщение</button>
            </div>
            <h3 class="mt-2">Местоположение</h3>
            <div class="d-flex p-2">
                <div>
                    <p>{{ advt.advertisement_location }}</p>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ advt.advertisement_name }}</h1>
                <h2>{{ advt.advertisement_price }} KZT</h2>
                <h1>Description:</h1>
                <div class="col-md-7">
                <p>{{ advt.advertisement_description }}</p>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: cornflowerblue; padding: 140px;">
        <section>
            <form action="{% url 'thanks_id' adver_id %}" method="POST">
                {% csrf_token %}
                {{form}}
                <button class="btn_apply" style="margin-top: 30px;" type="submit">Submit comment</button>
            </form>
        </section>
    </div>


    <div style="margin: 1% 1% 10% 10%; color: black">
        {% if list %}
            {% for i in list%}
                <div class="card">
                    <div class="card-header">{{i.user}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text">{{i.caption}}</p>
                        <a href="#" class="btn btn-primary">Like</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1 style="text-align:center">Empty</h1>
        {% endif %}
    </div>
</section>
{% endblock %}