
.div_background {
    background-color: #C8F8F6;
    padding: 7rem;
}
body {
    background-color: #C8F8F6;
}
.div_main {
    padding: 1rem;
    background-color: white;
    z-index: 1;
    border-radius: 1rem;
}
.search_div {
    display: flex;
    background-color: #F2F4F5;
    padding: 3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.find_input {
    padding: 1.4rem;
    color: #002F34;
    background-color: white;
    width: 45rem;
    border: 0;
}
.textValue {
    text-align: center;
    background-color: #CBF7EE;
    color: #002F34;
}

.location_input {
    padding: 1.4rem;
    background-color: white;
    border: 0;
    border-left: 0.2rem #F2F4F5 solid;
}
.container_grid {
    padding-top: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: #F2F4F5;
    padding-bottom: 3rem;
}
.card_c {
    box-shadow: 0px -5px 5px -5px rgba(0, 47, 52, 0.6);
    border: 0;
}
.li_choose {
    color: #002F34;
    list-style-type: circle;
    cursor: pointer;
}
.li_choose:hover {
    list-style-type: disc;
    cursor: pointer;

}


/*Header*/
.logo-top {
  width: 100px;
  height: 50px;
  float: left;
  margin: 0px 0px 5px 80px;
}
.header_custom {
    background-color: #002F34;
}
.header_text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}
li a{
    color: white;
}
nav a {
    color: white;
}
svg {
    margin-right: 8px;
}
@font-face {
    font-family: titleFont;
    src: url(TitleStyle.ttf);
}
.title {
    font-family: titleFont, serif;
}
.btn_search {
    border-left: 0.2rem #F2F4F5 solid;
}

.btn_apply {
    border-right: none;
    border-top: none;
    border-bottom: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.btn_apply:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn_apply:active {
    color: #000
}

.btn_apply:active:after {
    background: transparent;
}

.btn_apply:hover:before {
    opacity: 1;
}

.btn_apply:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.phone-number {
  width: 200px;
  height: 40px;
  float: right;
  margin: 20px 10px 5px 20px;
}
#Logotext{
  font-size:25px;
  font-family:'Playfair Display SC', serif;
}

.whatsapp-number {
  width: 35px;
  height: 35px;
  float: right;
  margin: 15px 30px 5px 20px;
  background: url(./img/wa-image-color.png) no-repeat center top / cover;
  transition: 0.5s ease-in-out;
}
.telegram-number {
  width: 35px;
  height: 35px;
  float: right;
  margin: 15px 30px 5px 20px;
  background: url(./img/tg-image-color.png) no-repeat center top / cover;
  transition: 0.5s ease-in-out;
}

.slaider_h {
	height: 60px;
	width: 50%;
	margin: 30px 0px 10px 0px;
	padding-top: 20px;
	background-color: rgba(10, 77, 125, 0.5);
	text-align: center;
}

.slaider_p {
	height: 100%;
	width: 80%;
	float: right;
	margin: 0px 0px 30px 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(10, 77, 125, 0.5);
	text-align: center;
}

.text-3 {
  color: rgb(10, 77, 125);
  /*font-family: arial;*/
  font-size: 2em;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
}

.product_card {
	margin: 10px;
}

.table_one {
	font-size: 1.4em;
}
.class_form {
  /*color: #fff;*/
  /*font-size: 2em;*/
  text-align: center;
  padding-bottom: 7%;
}

form>input{
    margin-top: 38px;
    height:32px;
    margin-right:10px;
    margin-left: 15px;
}
form>.length{
    width:400px;
}
form>.genders{
    margin-left: 15px;
}
form>label{
    font-size:25px;
    margin-left: 45px;
    font-family: 'Staatliches', cursive;
}
#email, #cardNo{
    width:230px;
}
#submitButton{
    width:17%;
    height:9%;
    font-size: 1.5vw;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-left: 75%;
    font-family: 'Questrial', sans-serif;
}
.settingBlock{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    height:600px;
}
.settingBlock>p{
    font-size: 25px;
    text-align: center;
    font-family: 'Parisienne', cursive;
}
.selected {

}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}





