
.div_background {
    background-color: #C8F8F6;
    padding: 7rem;
}
body {
    background-color: #C8F8F6;
}
.div_main {
    padding: 1rem;
    background-color: white;
    z-index: 1;
    border-radius: 1rem;
}
.search_div {
    display: flex;
    background-color: #F2F4F5;
    padding: 3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.find_input {
    padding: 1.4rem;
    color: #002F34;
    background-color: white;
    width: 45rem;
    border: 0;
}
.textValue {
    text-align: center;
    background-color: #CBF7EE;
    color: #002F34;
}

.location_input {
    padding: 1.4rem;
    background-color: white;
    border: 0;
    border-left: 0.2rem #F2F4F5 solid;
}
.container_grid {
    padding-top: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: #F2F4F5;
    padding-bottom: 3rem;
}
.card_c {
    box-shadow: 0px -5px 5px -5px rgba(0, 47, 52, 0.6);
    border: 0;
}
.li_choose {
    color: #002F34;
    list-style-type: circle;
    cursor: pointer;
}
.li_choose:hover {
    list-style-type: disc;
    cursor: pointer;

}


/*Header*/
.logo-top {
  width: 100px;
  height: 50px;
  float: left;
  margin: 0px 0px 5px 80px;
}
.header_custom {
    background-color: #002F34;
}
.header_text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}
li a{
    color: white;
}
nav a {
    color: white;
}
svg {
    margin-right: 8px;
}
@font-face {
    font-family: titleFont;
    src: url(TitleStyle.ttf);
}
.title {
    font-family: titleFont, serif;
}
.btn_search {
    border-left: 0.2rem #F2F4F5 solid;
}

.btn_apply {
    border-right: none;
    border-top: none;
    border-bottom: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.btn_apply:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn_apply:active {
    color: #000
}

.btn_apply:active:after {
    background: transparent;
}

.btn_apply:hover:before {
    opacity: 1;
}

.btn_apply:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.phone-number {
  width: 200px;
  height: 40px;
  float: right;
  margin: 20px 10px 5px 20px;
}
#Logotext{
  font-size:25px;
  font-family:'Playfair Display SC', serif;
}

.whatsapp-number {
  width: 35px;
  height: 35px;
  float: right;
  margin: 15px 30px 5px 20px;
  background: url(./img/wa-image-color.png) no-repeat center top / cover;
  transition: 0.5s ease-in-out;
}
.telegram-number {
  width: 35px;
  height: 35px;
  float: right;
  margin: 15px 30px 5px 20px;
  background: url(./img/tg-image-color.png) no-repeat center top / cover;
  transition: 0.5s ease-in-out;
}

.slaider_h {
	height: 60px;
	width: 50%;
	margin: 30px 0px 10px 0px;
	padding-top: 20px;
	background-color: rgba(10, 77, 125, 0.5);
	text-align: center;
}

.slaider_p {
	height: 100%;
	width: 80%;
	float: right;
	margin: 0px 0px 30px 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(10, 77, 125, 0.5);
	text-align: center;
}

.text-3 {
  color: rgb(10, 77, 125);
  /*font-family: arial;*/
  font-size: 2em;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
}

.product_card {
	margin: 10px;
}

.table_one {
	font-size: 1.4em;
}
.class_form {
  /*color: #fff;*/
  /*font-size: 2em;*/
  text-align: center;
  padding-bottom: 7%;
}

form>input{
    margin-top: 38px;
    height:32px;
    margin-right:10px;
    margin-left: 15px;
}
form>.length{
    width:400px;
}
form>.genders{
    margin-left: 15px;
}
form>label{
    font-size:25px;
    margin-left: 45px;
    font-family: 'Staatliches', cursive;
}
#email, #cardNo{
    width:230px;
}
#submitButton{
    width:17%;
    height:9%;
    font-size: 1.5vw;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-left: 75%;
    font-family: 'Questrial', sans-serif;
}
.settingBlock{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    height:600px;
}
.settingBlock>p{
    font-size: 25px;
    text-align: center;
    font-family: 'Parisienne', cursive;
}
.selected {

}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#chat3 .form-control {
border-color: transparent;
}

#chat3 .form-control:focus {
border-color: transparent;
box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
border-radius: 50%;
height: 10px;
width: 10px;
margin-left: 2.9rem;
margin-top: -.75rem;
}
body {
   background: #212129;
}

::selection {
   background: #212129;
}

.search-wrapper {
    position: relative;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    height: 70px;
    width:70px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width:1000px;
    border-radius: 50px;
    background: rgba(255,255,255,1);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
    width:100%;
    height: 50px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:gray;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, -25px);
}
.search-wrapper .input-holder .search-icon {
    width:70px;
    height:70px;
    border:none;
    border-radius:6px;
    background: #FFF;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #FE5F55;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #FE5F55;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FE5F55;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}


body {
	background: #eef0f5;
	font-family: Arial;
	font-size: 14px;
}
.button .svg {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    fill: #fff;
 }
.button .div .span {
      position: absolute;
      background: #28e470;
      height: 4px;
      left: 0;
      top: 0;
      width: 0;
      display: block;
      border-radius: 2px;
}
.button .div {
    height: 4px;
    margin: -2px 0 0 0;
    position: absolute;
    top: 50%;
    left: 71px;
    right: 25px;
    background: #d3d7e0;
    display: none;
    border-radius: 2px;
  }
 .button .a .span {
      cursor: pointer;
      display: block;
    }
.button .a {
    position: relative;
    display: block;
    background: #3f82d7;
    z-index: 2;
    line-height: 56px;
    height: 56px;
    border-radius: 28px;
    width: 100%;
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);
  }
.button{
border-radius: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
	display: block;
  background: #fff;
	width: 150px;
  box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}





