.list-pages {
	text-align: center;
	margin: 0 0 20px 0;

}
a {
    text-decoration: none;
    color: #666;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 5px 0 0;
}
.list-pages a {
	color: rgb(0, 47, 52);
	font-size: 15px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 0px 0 0 0;
	border: none;
	border-radius: 50%;
}
.list-pages .page-num:hover {
    border: 3px solid rgb(0, 47, 52);
	/*box-shadow: 3px 3px 1px #d0d0d0;*/
}
.list-pages .page-num-selected {
	/*border: none;*/
	border: 2px solid rgb(0, 47, 52);
	border-width:3px;
	color: #000;
	font-size: 15px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}
