#containerDiv{
display:flex;
justify-content:center;
padding-top:70px;
padding-bottom:60px;
background-color:rgba(73, 139, 92, 0.708);
margin:0px;
}
#signUpBlock{
background-color:rgba(255, 255, 255, 0.87);
padding:75px;
/*font-family:'Merriweather', serif;*/
font-weight:bolder;
}
legend{
font-size:40px;
}