{% load static %}
{% block index %}

<section>

    <h1 style="text-align:center;">Main categories</h1>
    <div class="row scroll" >
        {% for cats in cat_list %}
        <div class="col-md-3">
            <img src="{% static cats.image %}" alt="" style="width:100px; background-color: rgb(200, 248, 246); border-radius: 50%;">
            {% if selected == cats.slug %}
            <a class="li_choose selected" style="color:blue;" href="{{ cats.get_absolute_url }}">{{ cats.name }}</a>
            {% else %}
            <a class="li_choose" style="color:black;" href="{{ cats.get_absolute_url }}">{{ cats.name }}</a>
            {% endif %}

        </div>
        {% endfor %}

    </div>
        <p>
            <a class="btn btn-light" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Filter by:
          </a>
        </p>
    <div id="group">
        <ul class="ks-cboxtags">
            <li><input type="checkbox" id="checkboxOne" value="Atyrau"><label for="checkboxOne">Atyrau</label></li>
            <li><input type="checkbox" id="checkboxTwo" value="Nur-Sultan" ><label for="checkboxTwo">Nur-Sultan</label></li>
            <li><input type="checkbox" id="checkboxThree" value="Алматы" ><label for="checkboxThree">Almaty</label></li>
            <li><input type="checkbox" id="checkboxFour" value="Shymkent"><label for="checkboxFour">Shymkent</label></li>
            <li><input type="checkbox" id="checkboxFive" value="Karaganda"><label for="checkboxFive">Karaganda</label></li>
            <li><input type="checkbox" id="checkboxSix" value="Aqtobe"><label for="checkboxSix">Aqtobe</label></li>
            <li><input type="checkbox" id="checkboxSeven" value="Aktau"><label for="checkboxSeven">Aktau</label></li>
            <li><input type="checkbox" id="checkboxEight" value="Balqash"><label for="checkboxEight">Balqash</label></li>
            <li><input type="checkbox" id="checkboxNine" value="Zhezkazgan"><label for="checkboxNine">Zhezkazgan</label></li>
            <li><input type="checkbox" id="checkboxTen" value="Kentau"><label for="checkboxTen">Kentau</label></li>
            <li class="ks-selected"><input type="checkbox" id="checkboxEleven" value="Kyzylorda"><label for="checkboxEleven">Kyzylorda</label></li>
            <li><input type="checkbox" id="checkboxTwelve" value="Kokshetau"><label for="checkboxTwelve">Kokshetau</label></li>
            <li><input type="checkbox" id="checkboxThirteen" value="Kostanay"><label for="checkboxThirteen">Kostanay</label></li>
            <li><input type="checkbox" id="checkboxFourteen" value="Zhanaozen"><label for="checkboxFourteen">Zhanaozen</label></li>
            <li><input type="checkbox" id="checkboxFifteen" value="Pavlodar"><label for="checkboxFifteen">Pavlodar</label></li>
        </ul>

    </div>
    <form id='range_filter' action="{% url 'range_price' %}" method="POST" style="margin-top:25px;">
            {% csrf_token %}
            <div class="row justify-content-center" >
                <div class="form-outline">
                    <label class="form-label justify-content-center" for="typeNumber" style="">Min.</label>
                    <input type="number" name="typeNumber" id="typeNumber" class="form-control active" value="{% if range_num1 %}{{ range_num1 }}{% else %}0{% endif %}">


                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 61.6px;"></div><div class="form-notch-trailing"></div></div></div>


                <div class="form-outline justify-content-center">
                    <label class="form-label justify-content-center" for="typeNumber2" style="">Max.</label>
                    <input type="number" name="typeNumber2" id="typeNumber2" class="form-control active" value="{% if range_num2 %}{{ range_num2 }}{% else %}200000000{% endif %}">

                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>
                <p style="opacity:0"><input type="submit"></p>
            </div>
        </form>


        <select class="form-select" id="form-select"" aria-label="Default select example">
            <option id="selected-form" selected>Open this select menu</option>
            <option value="1"><a href="{% url 'today' %}" style="text-align:center" >
                    Only today
          </a></option>
            <option value="2"><a href="{% url 'orderbydate' %}" style="text-align:center" >
                    Order by date
          </a></option>
            <option value="3"><a href="{% url 'orderbymax' %}" style="text-align:center" >
                    Order by price max
          </a></option>
            <option value="4"><a style="text-align:center" >
                    Order by price min
          </a></option>
        </select>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
              <a href="{% url 'today' %}" style="text-align:center" >
                    Only today
          </a>
              <a href="{% url 'orderbydate' %}" style="text-align:center" >
                    Order by date
          </a>
                <a href="{% url 'orderbymax' %}" style="text-align:center" >
                    Order by price max
          </a>
                <a href="{% url 'orderbymin' %}" style="text-align:center" >
                    Order by price min
          </a>
          </div>
        </div>

    <div class="obj" id="obj">
        {% if searched %}
            <h1 style="text-align:center;">Search: {{ searched }}</h1>
        {% else %}
            <h1 style="text-align:center;">Advertisements</h1>
        {% endif %}

        {% if advt_list %}
        {% for a in page_obj %}
            <div class="row m-4 card_c {{ a.pk }}" id="row m-4 card_c {{ a.pk }}" style="padding:10px; background-color:#C8F8F6">
        <div class="col-md-3">
            <a href="{{ a.get_absolute_url }}"><img src="{{ a.advertisement_image.url }}"  class="card-img-top" style="width: 16rem; height: 14rem;border:solid 8px #FAE6B1;"></a>
        </div>
        <div class="col-md-7 pl-5">
            <a href="{{ a.get_absolute_url }}" style="color:black;font-family:'Plus Jakarta Sans',sans-serif;"><h4>{{ a.advertisement_name }}</h4></a>
            <p class="card-text" style = "font-family: 'Mulish', sans-serif; serif;font-weight:bold;font-size:17px;">{{ a.advertisement_location }}, KAZAKHSTAN</p>
            <p>{{ a.advertisement_date_created }}</p>
        </div>
        <div class="col-md-2">
            <p class="card-text" style="font-size:20px;font-weight:bold;">{{ a.advertisement_price }} KZT</p>
            <form  method="POST" >
             {% csrf_token %}
                 <button class="bt" onclick=postdata(this) value="{{ a.pk }}" type="button" style="border:0; background:transparent;">
                            {% if a in request.user.profile.fav_adver.all %}
                                <img id="a{{ a.pk }}" src="{% static 'img/icons8-favorite-48.png' %}" alt="">
                            {% else %}
                                <img id="a{{ a.pk }}" src="{% static 'img/icons8-favorite-50.png' %}" alt="">
                            {% endif %}
                 </button>
            </form>
        </div>
</div>
        {% endfor %}




        {% else %}
            <h1>Not found</h1>
        {% endif %}

    </div>
    {% if page_obj.has_other_pages %}
    <nav class="list-pages">
        <ul>
            {% if page_obj.has_previous %}
            <li class="page-num">
                <a href="?page={{ page_obj.previous_page_number }}"> &lt;</a>
            </li>
            {% endif  %}
            {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-num page-num-selected"> {{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
            <li class="page-num">
               <p><a href="?page={{ p }}">{{ p }}</a></p>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-num">
                <a href="?page={{ page_obj.next_page_number }}"> &gt;</a>
            </li>
            {% endif  %}
        </ul>
    </nav>
    {% endif %}
</section>

{% endblock %}